body {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 1500px;
}

header {
  background-color: #fff;
  height: 50px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* HERO ========================== */

.hero {
  background: url('../img/hero.jpg') no-repeat bottom;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
}

h1 {
  font-weight: normal;
  font-size: 50px;
  color: #fff;
}
.h1-span {
  background-color: #0009;
  padding: 10px 15px;
  font-weight: bold;
}

/* Projects section  */

.projects {
  padding-top: 40px;
  padding-bottom: 40px;
}

.img-box {
  border: 1px solid #000;
  width: 245px;
  height: 170px;
  position: relative;
  display: inline-block;
}

.img-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.img-title {
  font-weight: normal;
  background-color: #333;
  color: white;
  padding: 8px 16px;
  position: absolute;
  top: 0;
  left: 0;
  /* right: 0; */
}

/* row 2 with bg */
.img-box-bg {
  border: 1px solid #000;
  width: 245px;
  height: 170px;
  display: inline-block;
  background: url('../img/house5.jpg') no-repeat;
  background-size: cover;
}
.img-title-bg {
  font-weight: normal;
  background-color: #333;
  color: white;
  padding: 8px 16px;
  display: inline-block;
}
/* patys paveiksleliai atitinkamai dezutei */
#h2 {
  background-image: url('../img/house4.jpg');
}
#h3 {
  background-image: url('../img/house3.jpg');
}
#h4 {
  background-image: url('../img/house2.jpg');
}

/* islygiuoti vertikaliai */
.img-box-bg,
.img-box {
  vertical-align: top;
  margin-bottom: 10px;
}
